{{template "base" .}}

{{define "content"}}
    <div class="container">
        <div class="row">
            <div class="col">
                <h1 class="text=center mt-4">Welcome to our Bed and Breakfast!</h1>
                <p>Your home away from home, set on the majestic waters of the Pacific Ocean!</p>
            </div>
        </div>
        <div class="row">
            <div class="col text-center">
                <a href="/make-reservation" class="btn btn-primary">Make Reservation Now</a>
            </div>
        </div>
    </div>
{{end}}