{{template "base" .}}

{{define "content"}}
    <div class="container">
        <div class="row">
            <div class="col">
                <h1 class="text=center mt-4">You can reach us at (123) 456-7890</h1>
            </div>
        </div>
        <div class="row">
            <div class="col text-center">
                <a href="/make-reservation" class="btn btn-primary">Make Reservation Now</a>
            </div>
        </div>
    </div>
{{end}}