{{template "base" .}}

{{define "content"}}
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                {{$res := index .OtherData "reservation"}}
                <h1 class="reservation-header">Make a Reservation</h1>
                <p>
                    <strong>Reservation Details</strong><br>
                    Room: {{$res.Room.Name}}<br>
                    Check-in Date: {{index .StringData "check_in_date"}}<br>
                    Check-out Date: {{index .StringData "check_out_date"}}
                </p>
                    <form method="POST" action="/reservation" class="needs-validation" novalidate>
                        <input type="hidden" name="csrf_token" value="{{.CSRFToken}}">
                        <input type="hidden" name="check_in_date" value="{{index .StringData "check_in_date"}}">
                        <input type="hidden" name="check_out_date" value="{{index .StringData "check_out_date"}}">
                        <input type="hidden" name="room_id" value="{{$res.RoomID}}">

                        <div class="form-group mt-3">
                            <label for="first_name">First Name:</label>
                            {{with .Form.Errors.Get "first_name"}}
                                <label class="text-danger">{{.}}</label>
                            {{end}}
                            <input type="text" name="first_name" id="first_name" class="form-control {{with .Form.Errors.Get "first_name"}} is-invalid {{end}}" value="{{$res.FirstName}}" required autocomplete="off">
                        </div>
                        <div class="form-group mt-5">
                            <label for="last_name">Last Name:</label>
                            {{with .Form.Errors.Get "last_name"}}
                                <label class="text-danger">{{.}}</label>
                            {{end}}
                            <input type="text" name="last_name" id="last_name" class="form-control {{with .Form.Errors.Get "last_name"}} is-invalid {{end}}" value="{{$res.LastName}}" required autocomplete="off">
                        </div>
                        <div class="form-group mt-5">
                            <label for="email">Email:</label>
                            {{with .Form.Errors.Get "email"}}
                                <label class="text-danger">{{.}}</label>
                            {{end}}
                            <input type="text" name="email" id="email" class="form-control {{with .Form.Errors.Get "email"}} is-invalid {{end}}" value="{{$res.Email}}" required autocomplete="off">
                        </div>
                        <div class="form-group mt-5">
                            <label for="phone_number">Phone Number:</label>
                            {{with .Form.Errors.Get "phone_number"}}
                                <label class="text-danger">{{.}}</label>
                            {{end}}
                            <input type="text" name="phone_number" id="phone_number" class="form-control {{with .Form.Errors.Get "phone_number"}} is-invalid {{end}}" value="{{$res.PhoneNumber}}" autocomplete="off">
                        </div>
                        <button style="margin-top: 10px; "type="submit" class="btn btn-primary">Make Reservation</button>
                    </form>
            </div>
        </div>        
    </div>
{{end}}