{{template "base" .}}

{{define "content"}}
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h1 class="reservation-header">Make a reservation</h1>
                {{$res := index .OtherData "reservation"}}
                    <form method="POST" action="/reservation" class="needs-validation" novalidate>
                        <input type="hidden" name="csrf_token" value="{{.CSRFToken}}">
                        <input type="hidden" name="check_in_date" value="{{$res.CheckInDate}}">
                        <input type="hidden" name="check_out_date" value="{{$res.CheckOutDate}}">

                        <div class="form-group mt-5">
                            <label for="first_name">First Name:</label>
                            {{with .Form.Errors.Get "first_name"}}
                                <label class="text-danger">{{.}}</label>
                            {{end}}
                            <input type="text" name="first_name" id="first_name" class="form-control {{with .Form.Errors.Get "first_name"}} is-invalid {{end}}" value="{{$res.FirstName}}" required autocomplete="off">
                        </div>
                        <div class="form-group mt-5">
                            <label for="last_name">Last Name:</label>
                            {{with .Form.Errors.Get "last_name"}}
                                <label class="text-danger">{{.}}</label>
                            {{end}}
                            <input type="text" name="last_name" id="last_name" class="form-control {{with .Form.Errors.Get "last_name"}} is-invalid {{end}}" value="{{$res.LastName}}" required autocomplete="off">
                        </div>
                        <div class="form-group mt-5">
                            <label for="email">Email:</label>
                            {{with .Form.Errors.Get "email"}}
                                <label class="text-danger">{{.}}</label>
                            {{end}}
                            <input type="text" name="email" id="email" class="form-control {{with .Form.Errors.Get "email"}} is-invalid {{end}}" value="{{$res.Email}}" required autocomplete="off">
                        </div>
                        <div class="form-group mt-5">
                            <label for="phone_number">Phone Number:</label>
                            {{with .Form.Errors.Get "phone_number"}}
                                <label class="text-danger">{{.}}</label>
                            {{end}}
                            <input type="text" name="phone_number" id="phone_number" class="form-control {{with .Form.Errors.Get "phone_number"}} is-invalid {{end}}" value="{{$res.PhoneNumber}}" autocomplete="off">
                        </div>
                        <div class="form-group mt-5">
                            <label for="check_in_date">Check-in Date:</label>
                            {{with .Form.Errors.Get "check_in_date"}}
                                <label class="text-danger">{{.}}</label>
                            {{end}}
                            <input type="text" name="check_in_date" id="check_in_date" class="form-control {{with .Form.Errors.Get "check_in_date"}} is-invalid {{end}}" value="{{$res.CheckInDate}}" autocomplete="off">
                        </div>
                        <div class="form-group mt-5">
                            <label for="check_out_date">Check-out Date:</label>
                            {{with .Form.Errors.Get "check_out_date"}}
                                <label class="text-danger">{{.}}</label>
                            {{end}}
                            <input type="text" name="check_out_date" id="check_out_date" class="form-control {{with .Form.Errors.Get "check_out_date"}} is-invalid {{end}}" value="{{$res.CheckOutDate}}" autocomplete="off">
                        </div>
                        <input type="hidden" name="room_id" value="1">
                        <button style="margin-top: 10px; "type="submit" class="btn btn-primary">Make Reservation</button>
                    </form>
            </div>
        </div>        
    </div>
{{end}}